/* layout/_grid.scss */

/* Simple grid layout */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Example grid setup
    gap: 1rem;
  }
  
  /* Grid item */
  .grid-item {
    background-color: $transparant-700;
    padding: 1rem;
    border-radius: 0.25rem;
  }
  
  .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: $spacing-medium;
      padding: 1rem;
  }
