/* layout/_header.scss */

/* Base style for header */
.header {
    background-color: $bluePV-500;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  /* Navigation within the header */
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  
    li {
      margin: 0 1rem;
    }
  
    a {
      color: #fff;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  /* Logo styling */
  .header-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  