/* layout/_navigation.scss */

/* Style de base pour la navigation */
.navbar {
    background-color: $bluePV-500;
    padding: 0.5rem 1rem;
  
    .nav-list {
      list-style: none;
      display: flex;
      justify-content: space-around;
      padding: 0;
      
      a {
        color: #fff;
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 0.25rem;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: $bluePV-700;
        }
      }
    }
  }
  