/* components/_buttons.scss */


.btn {
  padding: $spacing-medium $spacing-large;
  border-radius: $border-radius;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;

  &.btn-primary {
    background: linear-gradient(to right, $purplePV-700, $bluePV-700); // Bouton avec dégradé
    color: $white;
    &:hover {
      background: linear-gradient(to right, $purplePV-800, $bluePV-800); // Assombrissement au survol
    }
  }

  &.btn-secondary {
    background-color: $purple-light;
    color: $purple-dark;
    &:hover {
      background-color: darken($purple-light, 10%);
    }
  }

  .btn-admin {
    @extend .btn; 
    background-color: $bluePV-500;
    color: $white;
    &:hover {
      background-color: $bluePV-600;
    }
  }
  
}


