/* components/_buttons.scss */

// Styles pour les boutons
.btn {
  padding: $spacing-medium $spacing-large;  // Rembourrage
  border: none;                             // Pas de bordure
  border-radius: $border-radius;            // Bords arrondis
  cursor: pointer;                          // Curseur pointeur
  font-weight: bold;                        // Texte en gras
  transition: background-color 0.3s;       // Animation au survol

  &.btn-primary {
    background-color: $orange;             // Couleur principale pour les boutons
    color: $white;                         // Texte blanc pour le contraste

    &:hover {
      background-color: darken($orange, 10%); // Assombrir au survol
    }
  }

  &.btn-secondary {
    background-color: $purple-light;       // Couleur secondaire pour les boutons
    color: $purple-dark;                   // Texte violet foncé

    &:hover {
      background-color: darken($purple-light, 10%); // Assombrir au survol
    }
  }
}
