/* components/_cards.scss */

// Styles pour les cartes
.card {
  background-color: $white;               // Fond blanc pour les cartes
  border-radius: $border-radius;          // Bords arrondis pour un look moderne
  box-shadow: $box-shadow;                // Ombre subtile pour de la profondeur
  padding: $spacing-medium;               // Espacement intérieur
  margin-bottom: $spacing-medium;         // Espacement entre les cartes
  transition: box-shadow 0.3s;            // Transition de l'ombre pour l'interaction

  &:hover {
    box-shadow: 0 4px 8px rgba($black, 0.2); // Ombre plus prononcée au survol
  }

  // En-tête de la carte
  .card-header {
    font-size: $font-size-large;           // Grande taille de police pour les en-têtes
    color: $white;                   // Couleur pour le texte de l'en-tête
    margin-bottom: $spacing-small;         // Espacement après l'en-tête
  }

  // Contenu de la carte
  .card-content {
    font-size: $font-size-root;            // Taille de police standard pour le contenu
    color: $black;                         // Couleur pour le texte du contenu
  }
}
