/* pages/_complete_registration.scss */

/* Base style for complete registration page */
.complete-registration-page {
    background-color: $transparant-200;
    padding: 2rem;
    text-align: center;
  }
  
  /* Styles specific to the complete registration form */
  .complete-registration-form {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
  
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border: 1px solid $transparant-700;
    }
  
    button[type="submit"] {
      width: 100%;
      padding: 0.5rem;
      background-color: $purplePV-500;
      color: #fff;
      border: none;
      border-radius: 0.25rem;
  
      &:hover {
        background-color: darken($purplePV-500, 10%);
      }
    }
  }
  