/* pages/_forgot_password.scss */

/* Base style for forgot password page */
.forgot-password-page {
    background-color: $transparant-300;
    padding: 2rem;
    text-align: center;
  }
  
  /* Styles specific to the password reset form */
  .password-reset-form {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
  
    input[type="email"] {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border: 1px solid $transparant-700;
    }
  
    button[type="submit"] {
      width: 100%;
      padding: 0.5rem;
      background-color: $orangePV-500;
      color: #fff;
      border: none;
      border-radius: 0.25rem;
  
      &:hover {
        background-color: darken($orangePV-500, 10%);
      }
    }
  }
  