/* pages/_register.scss */

// Styles spécifiques pour la page d'inscription
#registration {
  @extend .card; // Réutilise les styles de la carte pour la section d'inscription

  header {
    @extend .card-header; // Applique les styles d'en-tête de carte
  }

  form {
    @extend .card-content; // Réutilise le contenu de la carte pour la structure du formulaire

    // Styles pour les groupes de formulaire
    .form-group {
      margin-bottom: $spacing-medium; // Espace entre les éléments du formulaire

      label {
        display: block;
        color: $purple-dark; // Couleur de texte pour les étiquettes
        margin-bottom: $spacing-small; // Espace après l'étiquette
      }

      input[type='email'],
      input[type='password'] {
        width: 100%;
        padding: $spacing-small;
        border: 1px solid $grey;
        border-radius: $border-radius;
        margin-bottom: $spacing-small; // Espace après les champs de saisie

        &:focus {
          border-color: $purple-light; // Couleur de la bordure lors de la mise au point
          outline: none;
        }
      }

      // Bouton de soumission stylisé
      button {
        @extend .btn; // Réutilise les styles de bouton de base
        @extend .btn-primary; // Applique le style primaire du bouton
        width: 100%; // Le bouton occupe la largeur complète
      }
    }
  }
}
