@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --profil-block: rgba(24, 24, 27, 1);
    --profil-top: rgb(231, 231, 231);
    --profil-text: rgb(231, 231, 231);
    --profil-shadow: rgb(231, 231, 231);
    --profil-border: rgb(231, 231, 231);
  }


