<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Header Component</title>
    </head>
    <body>
        
    <!-- En-tête du site -->
    <header class="header">
        <div class="container">
            <img src="logo.png" alt="Logo Teamate" class="logo"> 
            <!-- La navigation est incluse ici -->
            <!--#include virtual="nav.html" -->
        </div>
    </header>

    </body>
</html>