<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Navbar Component</title>
    </head>
    <body>

            <!-- Navigation ### \src\components\nav.html -->
            <nav class="navbar">
                <ul class="nav-list">
                    <a href="accueil.html">Accueil</a>
                    <a href="recherche.html">Recherche</a>
                    <a href="evenement.html">Evenement</a>
                    <a href="parcourir.html">Parcourir</a>
                    <!-- Ajoutez d'autres liens de navigation au besoin -->

                   <!-- Login and registration links -->
                   <a href="../src/pages/login/login.html">Connectez-vous</a>
                   <a href="../src/pages/register/register.html">Incrivez-vous</a>                  
                  
                </ul>    
            </nav>

    </body>
</html>