<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Teamate | FOOTER COMPONENT</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <link href="https://cdn.tailwindcss.com" rel="stylesheet">
        <link href="../styles/main.css" rel="stylesheet">
        <link href="../../public/build/tailwind.css" rel="stylesheet">
    </head>
    </head>
    <body>
        <!-- Contenu principal -->
        <div class="main-content">
            
        <!-- Tableau -->
        <section>
            <div class="players-table">
                <div class="table-header">En-tête de Table</div>
                <div class="player-row">Ligne de Joueur</div>
                <!-- Plus de lignes peuvent être ajoutées ici -->
            </div>
        </section>

    </body>
</html>